/* Odds and end, trying to get the front page looking correct */
h1.title {
	border-bottom: 1px solid;
	margin-top: 40px;
}

#logo-floater {
    margin: 5px 0 0 8px;
}

.front h1.title {
	width: 650px;
	margin: 0 0 20px;
	display: none;
}
.front #squeeze .region-content #block-system-main .content {
	margin: 0 0 5px 0;
	padding: 0;
}
#titlebar {
	border-bottom: none;
}
p {
	font-size: 14px;
	color: #444444;
}

#center-wrapper .region-content h2 {
	margin-top: 15px;
	margin-bottom: 10px;
}
#center-wrapper .block h2 {
  text-transform: none;
}

#center-wrapper .region-content h2, h2 a {
    color:#375B6B;
}
#center-wrapper .region-content h2, h2 a:hover {
    color:#375B6B;
	
}

.not-front.one-sidebar #center-wrapper div#center {
	width: 630px;
	padding-left: 10px;
	padding-right: 10px;
}
.no-sidebars #squeeze {
	width: 800px;
	margin: 0 auto 0 auto;
}
#center-wrapper {
	padding: 0px 0 0 20px;
}
#center-wrapper .sidebar .block {
	padding: 10px 20px 25px;
	width: 250px;
	margin-right: 10px;
    background-image: url("../../../files/images/title-grey.png");
    background-repeat: repeat-x;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#rightcol {
	width: 300px;
	margin: 70px 0 0 10px;
}

#block-search-form input.form-submit, #search-block-form input.form-submit {
    background-color: #94AFA8;
}

ul.nice-menu-down a:hover{
        background: none repeat scroll 0 0 #94AFA8;
}

/*********** Altering ATMO's search box and button, to close to the edge *************/
.block-search input.form-text, .block-google-cse input.form-text 
{
    height: 14px;
    position: relative;
    top: 2px;
}

.block-search input.form-submit, .block-google-cse input.form-submit {
   position: relative;
   top: 2px;
   height: 24px;
}


/*********** No Sidebar Pages that need wide page width ********/
	
#navigation ul li a {
	color: #fff;
}
#wrap div.internal-header {
	display: none;
}


#center-wrapper .region-sidebar-second .content a {
	color: #0151B6;  /* 0c51a8; */
}
/***********   Front Page Slide Show Styling   *************/
div#block-views-front-page-slideshow-block {
	background-color: black; 
}
div#views_slideshow_cycle_teaser_section_front_page_slideshow-block {
	height: 239px;
}
div#views_slideshow_cycle_main_front-page_slideshow-block {
	display: inline;
}
#block-views-front-page-slideshow-block .views_slideshow_main div.views-field-title  {
	width: 360px;
	height: 55px;
	margin-left: 0;
	padding: 15px 10px 10px 25px;
	background-color: black; 
	border-bottom: 4px solid #80afe9;
	font-size: 1.4em;
	font-weight: bold;
	color: #a2cafb;
}
#block-views-front-page-slideshow-block .views_slideshow_main .views-field-field-slider-link a{
	font-size: 1.4em;
	font-weight: bold;
	color: #a2cafb;
}
#block-views-front-page-slideshow-block .views_slideshow_main div.views-field-body  {
	width: 380px;
	height: 120px;
	margin-left: 0;
	margin-top: 0px;
	padding: 10px 10px 10px 25px;
	background-color: black;
}
#block-views-front-page-slideshow-block .views_slideshow_main div.views-field-body a {
	color: #a5e9fd;
}
#block-views-front-page-slideshow-block .views_slideshow_main div.views-field-body p {
	color: white;
	font-size: 14px;
}
.views-row img {
	float: none;
	margin: 0;
}
#block-views-front-page-slideshow-block #views_slideshow_cycle_teaser_section_front_page_slideshow-block div.views-field-field-slider-image .field-content img {
	margin-left: 480px;
	margin-top: -230px;
	padding-top: 0;
	width: 500px;
}
/*****************  Slide Show Bottom Controls  ****************/
div#widget_pager_bottom_front_page_slideshow-block {
 	display: none;
}
.views-slideshow-controls-bottom {
	width: 980px;
	height: 24px;
	margin:0;
	margin-top: 0;
	background-color: black;
	padding: 0;
}
div#views_slideshow_controls_text_front_page_slideshow-block {
	margin: 0 auto;
	width: 150px; 
	padding-top: 3px;
}
#block-views-front-page-slideshow-block #views_slideshow_controls_text_previous_front_page_slideshow-block a img{
	border: none;
}
#block-views-front-page-slideshow-block span#views_slideshow_controls_text_pause_front_page_slideshow-block {
	text-decoration: none;
}
#block-views-front-page-slideshow-block span#views_slideshow_controls_text_pause_front_page_slideshow-block a {
	vertical-align: 30%;
	width: 120px;
	padding: 5px 20px 0 20px;
	font-size: 0.9em;
	font-weight: bold;
	color: gray;
	text-decoration: none;
}
div#block-views-front_page-slideshow-block div.views-slideshow-slide-counter span {
	visibility: hidden;
}
/**************  Front Page Blocks   ******************/
.page-node-9 #center-wrapper {
	padding: 0 0 0 20px;
}
.page-node-9 #center .block-block p{
	font-size: 13px;
	line-height: 16px;
}
#center-wrapper .sidebar .block.front-page-bordered {
	background-color: #e4e9f0;
}
.front-page-bordered {
	background-color: #e4e9f0;
}
.front #center-wrapper .block h2 {
	border-bottom: none;
	padding: 0;
}
.front #center-wrapper .block-block h2, .front #center-wrapper .block h2  {
	padding: 0;
	margin-bottom: 10px;
	font-family: "UbuntuRegular";
}
.front #center-wrapper .region-content .block #node-18 .field-name-body {
	margin-left: 10px;	
}
.front #center-wrapper .region-content .block #node-18 h2 {
	text-align: left;
	width: 588px;
	background-color: #ECEDE3;
	line-height: 24px;
	padding: 12px 0 10px 15px;
	margin-top: 15px;
	font-family: "UbuntuBold";
	box-shadow: -2px 4px 5px -2px #666666;
	-moz-box-shadow: -3px 5px 7px -2px #666666;
	-webkit-box-shadow: -3px 5px 7px -2px #666666;
	font-size:18px;
}
#center-wrapper .sidebar #block-views-testimonials-block.block {
	background-image: url("../images/blue-title.png");
    background-repeat: repeat-x;
}
#center-wrapper .sidebar #block-views-testimonials-block.block .views-field-view-node {
	margin-bottom: 20px; /* Removed extra semicolon ST */
}
.page-node-9 #center-wrapper #center .block-block .content {
	margin: 0;
	padding: 0;
}

#site-name, #site-slogan{
        letter-spacing:0
}
/***************What we do blocks *****************************/
div#block-block-4 {
	width: 570px;
	float: left;
	padding: 5px 0px 10px 15px;
}
div#block-block-4 img{
      float:right;
      padding-top:5px

}

div#block-block-7 img
{
        position:absolute;
        left:365px;
        top:45px
}

div#block-block-10 img
{
      position:absolute;
      top:5px;
        left:270px;
}

div#block-block-4 div.content, div#block-block-7 div.content, div#block-block-10 div.content{
	margin: 0px;
}
div#block-block-4 div.content a, div#block-block-7 div.content a, div#block-block-10 div.content a{
        
        color:#375B6B;
}



div#block-block-7 h2, div#block-block-10 h2, div#block-block-4 h2{
      width:390px;

}

div#block-block-7 {
	position:relative;
        width: 450px;
	height: 212px;
        float: left;
        padding: 0px 0px 5px 15px;
}

div#block-block-7 p{
	width:310px
}

div#block-block-10 {
	position:relative;
        width: 450px;
	height: 212px;
        float: left;
        padding: 0px 0px 5px 15px;
}


/******* Who we are  **********/
#block-block-13 h3 {
 border-bottom: 1px solid #375B6B !important;
    font-family: "UbuntuBold";
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding: 0 0 6px;
}

.sidebar li{
      padding:0px;
      border:0px;
      color:#333333
}




div#block-block-22, div#block-block-12, div#block-block-23 {
	margin-right: 0;
}
.front #center-wrapper .region-content .block-block h2 {
	margin-bottom: 0;
	padding: 0;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 4px;
	padding-bottom: 6px;
	border-bottom: 1px solid !important;
	font-family: "UbuntuBold";
}
.page-node-9 #center-wrapper .region-content div#block-block-22  {
	margin-top: -18px;
}
div#block-block-4 p, div#block-block-7 p, div#block-block-12 p, div#block-block-13 p, div#block-block-22 p, div#block-block-23 p, div#block-block-10 p {
	margin-bottom: 7px;
}
div#block-block-4 img, div#block-block-7 img, div#block-block-12 img, div#block-block-13 img, div#block-block-22 img, div#block-block-23 img {
	margin-top: -10px;
}




.page-node-9 #center-wrapper .region-content .list-minor, .page-node-9 #center-wrapper .region-content ul.list-major {
	list-style-type: disc;
	list-style-position:outside;
	margin-left: 25px;
	margin-bottom: 15px;
}
.page-node-9 #center-wrapper .region-content .list-minor li, .page-node-9 #center-wrapper .region-content ul.list-major li {
	padding: 4px 0;
}

.more-link {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}
/************  Social Media block  ************************/
#center-wrapper .sidebar #block-block-16 {
  background-color: white;
  background-image: none;
  border: none;
  border-radius: 0;
  margin:0;
  margin-right: 10px;
  margin-top: -43px;
  padding:0 0 0 35px !important;
  width: 250px;
}
.addthis_button_compact {
	padding: 0 20px 0 0 !important;
}
.addthis_button_twitter {
  padding: 0 20px 0 0 !important;
}

/*************Footer *************/
.footernav p {
	text-align:center;
}

/* CSS below this point added by Stephen Truex */

/* Fix site-slogan font-family */

#site-name, #site-slogan {
	font-family: "UbuntuRegular"; /* Just Ubuntu doesn't work, needs to be UbuntuRegular */
}

#logo img {
	width: 308px; /* Resize logo img which is much larger to improve resolution quality */
}

#navigation ul li a {
	font-family: Arial; /* Override UbuntuRegular b/c it looks bad at small sizes */
}

body {
	font-family: Arial; /* Override UbuntuRegular, looks bad at small sizes */
}

.view-front-page-slideshow .views-field-title {
	font-family: "UbuntuRegular";
}

#loginlink a {
	color: #e3e4e6;
}

#loginlink a:hover {
	color: #d75911;
}

